html{
    font-family: Lato, sans-serif;
}

*, *::after, *::before{
    box-sizing: border-box; /* sets the box size to the length of the */
}

.main{
    margin: 0 auto;
    width: 80%;
    padding: 0 20px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form_input{
    width: 100%;

}

.form_label{
    display: block;
    margin-bottom: 10px;
}

.form_textarea{
    width: inherit;
    font-size: 18px;
    padding: 12px 20px;
    border: none;
    background-color: rgba(49, 223, 73, 0.15);
    margin-bottom: 10px;
}

.form_submit{
    background-color: rgb(59, 218, 80);
    color: whitesmoke;
    font-size: 18px;
    border-radius: 20%;
    border: none;
    font-weight: bold;
    padding: 5px 30px;
    cursor: pointer;
    
}
.form_submit:hover{
    background-color: brown;
}


user_entry{
    margin-top: 50px ;
}