<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/nav.css">
    <link rel="stylesheet" href="/static/style/main.css">
    <link rel="stylesheet" href="/static/style/footer.css">
    <title>Microblog</title>
</head>
<body>
    <header class="navbar">
        <div class="navbar_brand">
            <img class="navbar_logo" src="/static/microblog-log0.svg" alt="microblog logo">Microblog
        </div>

        <ul class="navbar_nav">
            <li class="navbar_item"><a href="#" class="navbar_link">Recent</a></li>
            <li class="navbar_item"><a href="#" class="navbar_link">Calendar</a></li>
            <li class="navbar_item"><a href="#" class="navbar_link">Profile</a></li>
        </ul>

    </header>

    <main class="main">
        <section id="posting">
            <h1>Add new entry</h1>
            <form class="form" action="../dataentry" method="POST">
                <p class="form_input">
                    <textarea name="blog-data" id="data-blog" cols="30" rows="10" class="form_textarea" aria-label="Post Space"></textarea>
                </p>
                <button type="submit" class="form_submit">Submit</button>
            </form>
        </section>

        <section class="user_entry">
            <h1>Recent Posts</h1>
            <article>
                <div>
                    <h2 class="entry_title">Post Heading</h2>
                    <time class="entry_date" datetime="07-28-2020"> July 28</time>
                </div>
                <p class="entry_content">
                    Draft for blog posts
                </p>  

            </article>
        </section>
    </main>

    <footer class="footer">
        <div class="footer_content">
            <section class="left">
                <a class="items"> @Jardel Mitchell</a>
                <a class="items" href="https://github.com/Jdmitchel">Github repo</a>
            </section>
            <section class="middle">
                <div class="footer_column">
                    <a class="items" href="https://www.instagram.com/jd_jurel/"> Instagram</a>
                    <a class="items" href="">Other media</a>
                </div>
            </section>
            <section class ="right">
                <div class="footer_column">
                    <a class="items" href="">Recent</a>
                    <a class="items" href="">Calendar</a>
                    <a class="items" href="">About</a>
                    <a class="items" href="">?</a>
                </div>
            </section>
        </div>
    </footer>
    
</body>
</html>